<a href="https://colab.research.google.com/github/PatchareepornT/bsc_dpdm22/blob/main/%5Bdataset1%5D_property_estimator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import Data

In [39]:
import pandas as pd

In [40]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#สรุปข้อมูลของนักประเมินแต่ละคน โดยพิจารณาจาก ความมั่นใจในการประเมิน ประเมินราคาซื้อ-ขาย ให้คะแนนทรัพย์

##บ้าน

In [41]:
home = pd.read_excel('/content/drive/MyDrive/DPDM65/คำตอบนักประเมิน.xlsx',sheet_name='บ้าน',skiprows=0) #เลือก ชีท บ้าน
home.head()

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2500000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,100.0
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2200000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,5000000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN

In [42]:
est1 = home[home['ID ผู้ประเมิน']==1]
est1 #100*14

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2500000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,100.0
2,1,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2200000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,5000000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
6,1,https://nayoo.co/khonkaen/posts/564,บ้านเดี่ยว,มั่นใจ,4400000.0,3500000.0,"5,000-18,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
8,1,https://nayoo.co/khonkaen/posts/566,บ้านเดี่ยว,มั่นใจ,2750000.0,2500000.0,"5,000-25,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,1,https://nayoo.co/khonkaen/posts/19495,บ้านเดี่ยว,มั่นใจ,5500000.0,4500000.0,"3,000-30,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
156,1,https://nayoo.co/khonkaen/posts/19496,บ้านเดี่ยว,มั่นใจ,7911000.0,5200000.0,"3,000-30,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
157,1,https://nayoo.co/khonkaen/posts/20,บ้านเดี่ยว,มั่นใจ,2000000.0,3600000.0,"3,000-30,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
158,1,https://nayoo.co/khonkaen/posts/31,บ้านเดี่ยว,มั่นใจ,4000000.0,4000000.0,"3,000-35,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
159,1,https://nayoo.co/khonkaen/posts/570,บ้านเดี่ยว,มั่นใจ,1375000.0,1200000.0,"3,000-30,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN

In [43]:
est1.describe()

,ID ผู้ประเมิน,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
count,100.0,1.000000e+02,1.000000e+02,0.0,0.0,0.0,0.0,1.0
mean,1.0,4.316360e+06,3.938500e+06,NaN,NaN,NaN,NaN,100.0
std,0.0,2.865391e+06,2.368553e+06,NaN,NaN,NaN,NaN,NaN
min,1.0,3.900000e+05,6.000000e+05,NaN,NaN,NaN,NaN,100.0
25%,1.0,2.892750e+06,2.775000e+06,NaN,NaN,NaN,NaN,100.0
50%,1.0,3.962000e+06,3.600000e+06,NaN,NaN,NaN,NaN,100.0
75%,1.0,5.000000e+06,4.500000e+06,NaN,NaN,NaN,NaN,100.0
max,1.0,2.094900e+07,1.600000e+07,NaN,NaN,NaN,NaN,100.0

In [44]:
est1[est1['ความมั่นใจในการเมินราคาทรัพย์']=='มั่นใจ'].count()

ID ผู้ประเมิน                     100
post id                           100
property_type                     100
ความมั่นใจในการเมินราคาทรัพย์     100
ราคาทรัพย์                        100
ประเมินราคาซื้อ-ขาย               100
ปัจจัยในการประเมินราคาซื้อ-ขาย    100
เหตุผลไม่มั่นใจราคาประเมิน          0
ให้คะแนนทรัพย์                    100
Unnamed: 9                          0
Unnamed: 10                         0
Unnamed: 11                         0
Unnamed: 12                         0
Unnamed: 13                         1
dtype: int64

In [45]:
est1['ให้คะแนนทรัพย์'].value_counts()

2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี    54
3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน     43
4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน       2
1 ขายไม่ได้แน่นอน                      1
Name: ให้คะแนนทรัพย์, dtype: int64

In [46]:
est1[est1['ให้คะแนนทรัพย์']=='1 ขายไม่ได้แน่นอน'].count #มี 1 คน

<bound method DataFrame.count of     ID ผู้ประเมิน                               post id property_type  \
90              1  https://nayoo.co/khonkaen/posts/5978    บ้านเดี่ยว

   ความมั่นใจในการเมินราคาทรัพย์  ราคาทรัพย์  ประเมินราคาซื้อ-ขาย  \
90                        มั่นใจ  20949000.0           16000000.0

   ปัจจัยในการประเมินราคาซื้อ-ขาย เหตุผลไม่มั่นใจราคาประเมิน  \
90       3,000-30,000 บาท/ตารางวา                        NaN

       ให้คะแนนทรัพย์  Unnamed: 9  Unnamed: 10  Unnamed: 11  Unnamed: 12  \
90  1 ขายไม่ได้แน่นอน         NaN          NaN          NaN          NaN

    Unnamed: 13
90          NaN  >

In [47]:
est1[est1['ให้คะแนนทรัพย์']=='2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี'].count()

ID ผู้ประเมิน                     54
post id                           54
property_type                     54
ความมั่นใจในการเมินราคาทรัพย์     54
ราคาทรัพย์                        54
ประเมินราคาซื้อ-ขาย               54
ปัจจัยในการประเมินราคาซื้อ-ขาย    54
เหตุผลไม่มั่นใจราคาประเมิน         0
ให้คะแนนทรัพย์                    54
Unnamed: 9                         0
Unnamed: 10                        0
Unnamed: 11                        0
Unnamed: 12                        0
Unnamed: 13                        0
dtype: int64

In [48]:
est1[est1['ให้คะแนนทรัพย์']=='3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน'].count()

ID ผู้ประเมิน                     43
post id                           43
property_type                     43
ความมั่นใจในการเมินราคาทรัพย์     43
ราคาทรัพย์                        43
ประเมินราคาซื้อ-ขาย               43
ปัจจัยในการประเมินราคาซื้อ-ขาย    43
เหตุผลไม่มั่นใจราคาประเมิน         0
ให้คะแนนทรัพย์                    43
Unnamed: 9                         0
Unnamed: 10                        0
Unnamed: 11                        0
Unnamed: 12                        0
Unnamed: 13                        1
dtype: int64

In [49]:
est1[est1['ให้คะแนนทรัพย์']=='4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน'].count()

ID ผู้ประเมิน                     2
post id                           2
property_type                     2
ความมั่นใจในการเมินราคาทรัพย์     2
ราคาทรัพย์                        2
ประเมินราคาซื้อ-ขาย               2
ปัจจัยในการประเมินราคาซื้อ-ขาย    2
เหตุผลไม่มั่นใจราคาประเมิน        0
ให้คะแนนทรัพย์                    2
Unnamed: 9                        0
Unnamed: 10                       0
Unnamed: 11                       0
Unnamed: 12                       0
Unnamed: 13                       0
dtype: int64

In [50]:
est1[est1['ให้คะแนนทรัพย์']=='5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน'].count()

ID ผู้ประเมิน                     0
post id                           0
property_type                     0
ความมั่นใจในการเมินราคาทรัพย์     0
ราคาทรัพย์                        0
ประเมินราคาซื้อ-ขาย               0
ปัจจัยในการประเมินราคาซื้อ-ขาย    0
เหตุผลไม่มั่นใจราคาประเมิน        0
ให้คะแนนทรัพย์                    0
Unnamed: 9                        0
Unnamed: 10                       0
Unnamed: 11                       0
Unnamed: 12                       0
Unnamed: 13                       0
dtype: int64

In [51]:
est2 = home[home['ID ผู้ประเมิน']==2]
est2 #90*14

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
5,2,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,9000000.0,"โซนนี้ราคาซื้อขาย ประมาณ 10,000-20,000 บาท/ตาร...",NaN,5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน,NaN,NaN,NaN,NaN,NaN
7,2,https://nayoo.co/khonkaen/posts/564,บ้านเดี่ยว,มั่นใจ,4400000.0,3700000.0,"เสนอขาย 3,500,000 - 4,200,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
9,2,https://nayoo.co/khonkaen/posts/566,บ้านเดี่ยว,มั่นใจ,2750000.0,2500000.0,"ราคาเสนอขาย 2,000,0000 - 2,800,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,2,https://nayoo.co/khonkaen/posts/19495,บ้านเดี่ยว,มั่นใจ,5500000.0,5000000.0,"ราคาเสนอขาย 20,000-30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
186,2,https://nayoo.co/khonkaen/posts/19496,บ้านเดี่ยว,มั่นใจ,7911000.0,7400000.0,"ราคาเสนอขาย 20,000 - 30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
187,2,https://nayoo.co/khonkaen/posts/20,บ้านเดี่ยว,มั่นใจ,2000000.0,2500000.0,ราคาเสนอขาย 2.2-3.0 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
188,2,https://nayoo.co/khonkaen/posts/31,บ้านเดี่ยว,มั่นใจ,4000000.0,3900000.0,ราคาเสนอขาย 3.5-4.0ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
189,2,https://nayoo.co/khonkaen/posts/570,บ้านเดี่ยว,มั่นใจ,1375000.0,1400000.0,ราคาเสนอขาย 1.2-1.5 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN

In [52]:
est2[est2['ความมั่นใจในการเมินราคาทรัพย์']=='มั่นใจ'].count()

ID ผู้ประเมิน                     89
post id                           89
property_type                     89
ความมั่นใจในการเมินราคาทรัพย์     89
ราคาทรัพย์                        89
ประเมินราคาซื้อ-ขาย               89
ปัจจัยในการประเมินราคาซื้อ-ขาย    89
เหตุผลไม่มั่นใจราคาประเมิน         0
ให้คะแนนทรัพย์                    89
Unnamed: 9                         0
Unnamed: 10                        0
Unnamed: 11                        0
Unnamed: 12                        0
Unnamed: 13                        0
dtype: int64

In [53]:
est2[est2['ความมั่นใจในการเมินราคาทรัพย์']=='ไม่มั่นใจ'].count()

ID ผู้ประเมิน                     1
post id                           1
property_type                     1
ความมั่นใจในการเมินราคาทรัพย์     1
ราคาทรัพย์                        1
ประเมินราคาซื้อ-ขาย               0
ปัจจัยในการประเมินราคาซื้อ-ขาย    0
เหตุผลไม่มั่นใจราคาประเมิน        1
ให้คะแนนทรัพย์                    0
Unnamed: 9                        0
Unnamed: 10                       0
Unnamed: 11                       0
Unnamed: 12                       0
Unnamed: 13                       0
dtype: int64

In [54]:
est2['ให้คะแนนทรัพย์'].value_counts()

3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน     64
4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน      23
5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน      1
2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี     1
Name: ให้คะแนนทรัพย์, dtype: int64

###Map Data

In [55]:
est2['ประเมิน1'] = est2['post id'].map(est1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);
est2

<ipython-input-55-5722fc6584f5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est2['ประเมิน1'] = est2['post id'].map(est1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,ประเมิน1
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,NaN,2500000.0
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,2200000.0
5,2,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,9000000.0,"โซนนี้ราคาซื้อขาย ประมาณ 10,000-20,000 บาท/ตาร...",NaN,5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน,NaN,NaN,NaN,NaN,NaN,5000000.0
7,2,https://nayoo.co/khonkaen/posts/564,บ้านเดี่ยว,มั่นใจ,4400000.0,3700000.0,"เสนอขาย 3,500,000 - 4,200,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,3500000.0
9,2,https://nayoo.co/khonkaen/posts/566,บ้านเดี่ยว,มั่นใจ,2750000.0,2500000.0,"ราคาเสนอขาย 2,000,0000 - 2,800,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,2500000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,2,https://nayoo.co/khonkaen/posts/19495,บ้านเดี่ยว,มั่นใจ,5500000.0,5000000.0,"ราคาเสนอขาย 20,000-30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,4500000.0
186,2,https://nayoo.co/khonkaen/posts/19496,บ้านเดี่ยว,มั่นใจ,7911000.0,7400000.0,"ราคาเสนอขาย 20,000 - 30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,5200000.0
187,2,https://nayoo.co/khonkaen/posts/20,บ้านเดี่ยว,มั่นใจ,2000000.0,2500000.0,ราคาเสนอขาย 2.2-3.0 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,3600000.0
188,2,https://nayoo.co/khonkaen/posts/31,บ้านเดี่ยว,มั่นใจ,4000000.0,3900000.0,ราคาเสนอขาย 3.5-4.0ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,4000000.0
189,2,https://nayoo.co/khonkaen/posts/570,บ้านเดี่ยว,มั่นใจ,1375000.0,1400000.0,ราคาเสนอขาย 1.2-1.5 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,1200000.0

In [56]:
est2 = est2.rename(columns={"ประเมินราคาซื้อ-ขาย": "ประเมิน2"})
est2

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมิน2,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,ประเมิน1
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,NaN,2500000.0
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,2200000.0
5,2,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,9000000.0,"โซนนี้ราคาซื้อขาย ประมาณ 10,000-20,000 บาท/ตาร...",NaN,5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน,NaN,NaN,NaN,NaN,NaN,5000000.0
7,2,https://nayoo.co/khonkaen/posts/564,บ้านเดี่ยว,มั่นใจ,4400000.0,3700000.0,"เสนอขาย 3,500,000 - 4,200,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,3500000.0
9,2,https://nayoo.co/khonkaen/posts/566,บ้านเดี่ยว,มั่นใจ,2750000.0,2500000.0,"ราคาเสนอขาย 2,000,0000 - 2,800,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,2500000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,2,https://nayoo.co/khonkaen/posts/19495,บ้านเดี่ยว,มั่นใจ,5500000.0,5000000.0,"ราคาเสนอขาย 20,000-30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,4500000.0
186,2,https://nayoo.co/khonkaen/posts/19496,บ้านเดี่ยว,มั่นใจ,7911000.0,7400000.0,"ราคาเสนอขาย 20,000 - 30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,5200000.0
187,2,https://nayoo.co/khonkaen/posts/20,บ้านเดี่ยว,มั่นใจ,2000000.0,2500000.0,ราคาเสนอขาย 2.2-3.0 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,3600000.0
188,2,https://nayoo.co/khonkaen/posts/31,บ้านเดี่ยว,มั่นใจ,4000000.0,3900000.0,ราคาเสนอขาย 3.5-4.0ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,4000000.0
189,2,https://nayoo.co/khonkaen/posts/570,บ้านเดี่ยว,มั่นใจ,1375000.0,1400000.0,ราคาเสนอขาย 1.2-1.5 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,1200000.0

In [57]:
table = est2[['post id','ราคาทรัพย์','ประเมิน1','ประเมิน2']]

In [58]:
table = table.dropna(subset=['ราคาทรัพย์']) # row หายไป 29 row เพราะ มีค่า Nan เราไม่ fillna(0) เพราะ เวลาแทนสูตรจะหาไม่ได้

In [59]:
table

                                   post id  ราคาทรัพย์   ประเมิน1   ประเมิน2
1       https://nayoo.co/khonkaen/posts/25   2700000.0  2500000.0  2700000.0
3       https://nayoo.co/khonkaen/posts/33   2600000.0  2200000.0  2400000.0
5      https://nayoo.co/khonkaen/posts/495   5900000.0  5000000.0  9000000.0
7      https://nayoo.co/khonkaen/posts/564   4400000.0  3500000.0  3700000.0
9      https://nayoo.co/khonkaen/posts/566   2750000.0  2500000.0  2500000.0
..                                     ...         ...        ...        ...
185  https://nayoo.co/khonkaen/posts/19495   5500000.0  4500000.0  5000000.0
186  https://nayoo.co/khonkaen/posts/19496   7911000.0  5200000.0  7400000.0
187     https://nayoo.co/khonkaen/posts/20   2000000.0  3600000.0  2500000.0
188     https://nayoo.co/khonkaen/posts/31   4000000.0  4000000.0  3900000.0
189    https://nayoo.co/khonkaen/posts/570   1375000.0  1200000.0  1400000.0

[90 rows x 4 columns]

###Check Data

In [60]:
table.isnull().any()

post id       False
ราคาทรัพย์    False
ประเมิน1      False
ประเมิน2       True
dtype: bool

In [61]:
import numpy as np

###function ตรวจสอบค่าที่เติม 0 ผิด

In [62]:
def checkvalue(a, b):
  return max(a/b, b/a)

In [63]:
checkvalue(10,1200)

120.0

In [64]:
table.head()

                               post id  ราคาทรัพย์   ประเมิน1   ประเมิน2
1   https://nayoo.co/khonkaen/posts/25   2700000.0  2500000.0  2700000.0
3   https://nayoo.co/khonkaen/posts/33   2600000.0  2200000.0  2400000.0
5  https://nayoo.co/khonkaen/posts/495   5900000.0  5000000.0  9000000.0
7  https://nayoo.co/khonkaen/posts/564   4400000.0  3500000.0  3700000.0
9  https://nayoo.co/khonkaen/posts/566   2750000.0  2500000.0  2500000.0

###สร้าง column ใหม่ ลงในตาราง table(บ้าน) โดย ค่าใน columnใหม่ คือค่า จาก function checkvalue
(ราคาตั้งขาย,ราคาประเมิน1)

In [65]:
#table['Check'] = table.apply(lambda x: checkvalue(x.ราคาทรัพย์, x.ประเมิน1), axis=1)

In [66]:
#table['Check2'] = table.apply(lambda x: checkvalue(x.ราคาทรัพย์, x.ประเมิน2), axis=1)

### For loop

In [67]:
check1 = list() # ตั้งให้ check2 เป็น list ว่าง เพื่อให้ for loop มันรันค่าใส่ไว่้ใน list
check2 = list()
for row in table.iterrows():
    check1.append(checkvalue(row[1]['ราคาทรัพย์'],row[1]['ประเมิน1']))
    check2.append(checkvalue(row[1]['ราคาทรัพย์'],row[1]['ประเมิน2']))
check1
check2
# แต่ละ row ใน table จะทำใช้ function 'checkvalue' เพื่อหาค่าแล้วเพิ่มใน check1

[1.0,
 1.0833333333333333,
 1.5254237288135593,
 1.1891891891891893,
 1.1,
 1.0314685314685315,
 1.050420168067227,
 1.0416666666666667,
 1.1403333333333334,
 1.0175,
 1.0476190476190477,
 1.03125,
 1.0214285714285714,
 1.0607142857142857,
 1.025,
 1.0607142857142857,
 1.0847222222222221,
 1.0371428571428571,
 1.0,
 1.125,
 1.1049723756906078,
 1.1904761904761905,
 1.0888888888888888,
 1.0054461667364893,
 1.0425531914893618,
 1.125,
 1.0434782608695652,
 1.0364145658263306,
 1.0,
 1.0324483775811208,
 1.04,
 1.2,
 1.04,
 1.1318181818181818,
 1.0,
 1.045,
 1.0526315789473684,
 3.3333333333333335,
 1.0227272727272727,
 1.04,
 1.08,
 1.2903225806451613,
 1.1219512195121952,
 1.125,
 1.2195121951219512,
 1.2322941176470588,
 1.0755555555555556,
 1.1366666666666667,
 1.0736196319018405,
 1.1,
 1.048951048951049,
 1.1111111111111112,
 1.045,
 1.0666666666666667,
 1.0435897435897437,
 1.4575,
 1.046,
 1.0857142857142856,
 1.1484,
 1.1090909090909091,
 1.0408163265306123,
 1.1125,
 1.036,
 1.0031347962382444,
 1.1,
 1.1666666666666667,
 1.0344827586206897,
 1.0285714285714285,
 1.0857142857142856,
 1.0,
 1.0769230769230769,
 1.0263929618768328,
 1.031941031941032,
 1.0355555555555556,
 1.0625,
 1.1578947368421053,
 nan,
 1.0476190476190477,
 1.0227272727272727,
 1.0167768174885612,
 1.125,
 1.05,
 1.05875,
 1.046,
 1.056,
 1.1,
 1.069054054054054,
 1.25,
 1.0256410256410255,
 1.018181818181818]

In [68]:
table['Check1'] = check1 #เพิ่มค่า check1 ไปในคอลัมน์ Check1
table['Check2'] = check2
table

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,Check1,Check2
1,https://nayoo.co/khonkaen/posts/25,2700000.0,2500000.0,2700000.0,1.080000,1.000000
3,https://nayoo.co/khonkaen/posts/33,2600000.0,2200000.0,2400000.0,1.181818,1.083333
5,https://nayoo.co/khonkaen/posts/495,5900000.0,5000000.0,9000000.0,1.180000,1.525424
7,https://nayoo.co/khonkaen/posts/564,4400000.0,3500000.0,3700000.0,1.257143,1.189189
9,https://nayoo.co/khonkaen/posts/566,2750000.0,2500000.0,2500000.0,1.100000,1.100000
...,...,...,...,...,...,...
185,https://nayoo.co/khonkaen/posts/19495,5500000.0,4500000.0,5000000.0,1.222222,1.100000
186,https://nayoo.co/khonkaen/posts/19496,7911000.0,5200000.0,7400000.0,1.521346,1.069054
187,https://nayoo.co/khonkaen/posts/20,2000000.0,3600000.0,2500000.0,1.800000,1.250000
188,https://nayoo.co/khonkaen/posts/31,4000000.0,4000000.0,3900000.0,1.000000,1.025641
189,https://nayoo.co/khonkaen/posts/570,1375000.0,1200000.0,1400000.0,1.145833,1.018182

In [69]:
table = table.sort_values(by=['Check1'],ascending=False) # Clean
table

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,Check1,Check2
187,https://nayoo.co/khonkaen/posts/20,2000000.0,3600000.0,2500000.0,1.800000,1.250000
75,https://nayoo.co/khonkaen/posts/1,390000.0,600000.0,1300000.0,1.538462,3.333333
177,https://nayoo.co/khonkaen/posts/19450,2100000.0,3200000.0,2200000.0,1.523810,1.047619
186,https://nayoo.co/khonkaen/posts/19496,7911000.0,5200000.0,7400000.0,1.521346,1.069054
101,https://nayoo.co/khonkaen/posts/6010,2860000.0,4200000.0,3000000.0,1.468531,1.048951
...,...,...,...,...,...,...
43,https://nayoo.co/khonkaen/posts/1128,4200000.0,4200000.0,5000000.0,1.000000,1.190476
87,https://nayoo.co/khonkaen/posts/3905,1200000.0,1200000.0,1350000.0,1.000000,1.125000
65,https://nayoo.co/khonkaen/posts/2143,5200000.0,5200000.0,5000000.0,1.000000,1.040000
188,https://nayoo.co/khonkaen/posts/31,4000000.0,4000000.0,3900000.0,1.000000,1.025641
167,https://nayoo.co/khonkaen/posts/9141,3500000.0,3500000.0,3600000.0,1.000000,1.028571

In [70]:
table = table.sort_values(by=['Check2'],ascending=False)#Clean
table

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,Check1,Check2
75,https://nayoo.co/khonkaen/posts/1,390000.0,600000.0,1300000.0,1.538462,3.333333
5,https://nayoo.co/khonkaen/posts/495,5900000.0,5000000.0,9000000.0,1.180000,1.525424
111,https://nayoo.co/khonkaen/posts/6045,2915000.0,2000000.0,2000000.0,1.457500,1.457500
83,https://nayoo.co/khonkaen/posts/3721,3100000.0,3500000.0,4000000.0,1.129032,1.290323
187,https://nayoo.co/khonkaen/posts/20,2000000.0,3600000.0,2500000.0,1.800000,1.250000
...,...,...,...,...,...,...
57,https://nayoo.co/khonkaen/posts/1895,1200000.0,1500000.0,1200000.0,1.250000,1.000000
37,https://nayoo.co/khonkaen/posts/760,1800000.0,1700000.0,1800000.0,1.058824,1.000000
1,https://nayoo.co/khonkaen/posts/25,2700000.0,2500000.0,2700000.0,1.080000,1.000000
169,https://nayoo.co/khonkaen/posts/11264,6500000.0,5600000.0,6500000.0,1.160714,1.000000
176,https://nayoo.co/khonkaen/posts/18633,5000000.0,4500000.0,NaN,1.111111,NaN

###def function mape
- ค่าเกิน 9,10 ก็ลบ ศูนย์ ถ้าเกิน 2 คนประเมินว่าแบบนั้นเลย

In [71]:
def mape(y_test, pred):
    y_test, pred = np.array(y_test), np.array(pred)
    mape = np.mean(np.abs((y_test - pred) / y_test))
    return mape

In [72]:
#ใช้คอลัมน์ ประเมิน 1 ,ประเมิน 2 ในการคำนวณ
#คอลัมน์ Check1,2 ไว้เช็คว่าค่าพุ่งเกินไหม
table1= table['ประเมิน1']
table2= table['ประเมิน2']
table3= table['ราคาทรัพย์']

In [73]:
mapetable = mape(table1, table2)
mapetable # ค่า mape ของผู้ประเมิน1 กับผู้ประเมิน 2
print(f'ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ผู้ประเมิน 2 มีค่า MAPE อยู่ที่', mapetable)

ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ผู้ประเมิน 2 มีค่า MAPE อยู่ที่ nan

In [74]:
mapetable2 = mape(table1, table3)
mapetable2 # ค่า mape ของผู้ประเมิน1 กับ ราคาทรัพย์
print(f'ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่', mapetable2)

ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่ 0.13033922424868483

In [75]:
mapetable3 = mape(table2, table3)
mapetable3
print(f'ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 2 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่', mapetable3)

ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 2 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่ nan

##ที่ดิน

In [76]:
land = pd.read_excel('/content/drive/MyDrive/DPDM65/คำตอบนักประเมิน.xlsx',sheet_name='ที่ดิน',skiprows=0) #เลือก ชีท ที่ดิน
land.head()

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,1800000.0,"8,000-25,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,100.0
1,2,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,2000000.0,"ราคาเสนอขาย 7,000-12,0000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
2,4,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,3000000.0,12000-18000,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN
3,1,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000,8000000.0,"25,000-80,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
4,2,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000,12000000.0,"ราคาเสนอขาย 100,000-150,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN

In [77]:
land.describe() #มี210 row 
#ราคาทรัพย์ max 90 ล้าน ถูกสุด 8.5 แสน ราคาทรัพย์เฉลี่ย 11 ล้าน
#ประเมินราคา max 250 ล้าน min 5 แสน เฉลี่ย 10 ล้าน

,ID ผู้ประเมิน,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,Unnamed: 9,Unnamed: 11,Unnamed: 12
count,210.000000,2.100000e+02,2.070000e+02,27.000000,0.0,1.0
mean,1.619048,1.670405e+07,1.039831e+07,2.481481,NaN,100.0
std,0.723904,4.139794e+07,2.552282e+07,0.509175,NaN,NaN
min,1.000000,6.500000e+05,5.000000e+05,2.000000,NaN,100.0
25%,1.000000,2.000000e+06,1.800000e+06,2.000000,NaN,100.0
50%,2.000000,4.000000e+06,3.500000e+06,2.000000,NaN,100.0
75%,2.000000,1.207500e+07,1.000000e+07,3.000000,NaN,100.0
max,4.000000,2.860000e+08,2.500000e+08,3.000000,NaN,100.0

In [78]:
land[land['ความมั่นใจในการเมินราคาทรัพย์']=='มั่นใจ'].count() # มั่นใจ 207 ไม่มั่นใจ 3

ID ผู้ประเมิน                     207
post id                           207
property_type                     207
ความมั่นใจในการเมินราคาทรัพย์     207
ราคาทรัพย์                        207
ประเมินราคาซื้อ-ขาย               207
ปัจจัยในการประเมินราคาซื้อ-ขาย    207
เหตุผลไม่มั่นใจราคาประเมิน          0
ให้คะแนนทรัพย์                    207
Unnamed: 9                         27
Unnamed: 10                        27
Unnamed: 11                         0
Unnamed: 12                         1
dtype: int64

In [79]:
land['ID ผู้ประเมิน'].value_counts() #มี210 row ID[1] = 100 , ID[2] = 100, ID[4] = 10 -> ไม่ใช้ 4

1    100
2    100
4     10
Name: ID ผู้ประเมิน, dtype: int64

In [80]:
land1 = land[land['ID ผู้ประเมิน']==1]
land1.head()

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,1800000.0,"8,000-25,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,100.0
3,1,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000,8000000.0,"25,000-80,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
6,1,https://nayoo.co/khonkaen/posts/1726,ที่ดิน,มั่นใจ,90000000,18000000.0,"8,000-35,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
9,1,https://nayoo.co/khonkaen/posts/1732,ที่ดิน,มั่นใจ,65000000,35000000.0,"15,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
12,1,https://nayoo.co/khonkaen/posts/1866,ที่ดิน,มั่นใจ,3000000,2200000.0,"10,000-20,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN

In [81]:
land2 = land[land['ID ผู้ประเมิน']==2]
land2.head()

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
1,2,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,2000000.0,"ราคาเสนอขาย 7,000-12,0000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
4,2,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000,12000000.0,"ราคาเสนอขาย 100,000-150,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
7,2,https://nayoo.co/khonkaen/posts/1726,ที่ดิน,มั่นใจ,90000000,70000000.0,"30,000-40,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
10,2,https://nayoo.co/khonkaen/posts/1732,ที่ดิน,มั่นใจ,65000000,60000000.0,"ราคาเสนอขาย 12,000 - 15,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
13,2,https://nayoo.co/khonkaen/posts/1866,ที่ดิน,มั่นใจ,3000000,2500000.0,"ราคาเสนอขาย 2,000 - 4,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN

### Map data

In [82]:
land2['ประเมิน1'] = land2['post id'].map(land1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);
land2

<ipython-input-82-f6fe25813445>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  land2['ประเมิน1'] = land2['post id'].map(land1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,ประเมิน1
1,2,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,2000000.0,"ราคาเสนอขาย 7,000-12,0000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,1800000.0
4,2,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000,12000000.0,"ราคาเสนอขาย 100,000-150,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,8000000.0
7,2,https://nayoo.co/khonkaen/posts/1726,ที่ดิน,มั่นใจ,90000000,70000000.0,"30,000-40,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,18000000.0
10,2,https://nayoo.co/khonkaen/posts/1732,ที่ดิน,มั่นใจ,65000000,60000000.0,"ราคาเสนอขาย 12,000 - 15,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,35000000.0
13,2,https://nayoo.co/khonkaen/posts/1866,ที่ดิน,มั่นใจ,3000000,2500000.0,"ราคาเสนอขาย 2,000 - 4,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,2200000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,2,https://nayoo.co/khonkaen/posts/14539,ที่ดิน,มั่นใจ,5000000,4000000.0,"ราคาเสนอขาย 8,000 - 10,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,4000000.0
202,2,https://nayoo.co/khonkaen/posts/16072,ที่ดิน,มั่นใจ,750000,750000.0,"ราคาเสนอขาย 7,000-8,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,500000.0
204,2,https://nayoo.co/khonkaen/posts/17093,ที่ดิน,มั่นใจ,2650000,2500000.0,"ราคาเสนอขาย 3,000 - 5,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,2000000.0
206,2,https://nayoo.co/khonkaen/posts/17112,ที่ดิน,มั่นใจ,1300000,1500000.0,"ราคาเสนอขาย 3,000 - 5,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1500000.0
208,2,https://nayoo.co/khonkaen/posts/17145,ที่ดิน,มั่นใจ,3000000,2800000.0,"ราคาเสนอขาย 10,000 - 15,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,2500000.0

In [83]:
tableland = land2.rename(columns={"ประเมินราคาซื้อ-ขาย": "ประเมิน2"})
tableland

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมิน2,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,ประเมิน1
1,2,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,2000000.0,"ราคาเสนอขาย 7,000-12,0000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,1800000.0
4,2,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000,12000000.0,"ราคาเสนอขาย 100,000-150,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,8000000.0
7,2,https://nayoo.co/khonkaen/posts/1726,ที่ดิน,มั่นใจ,90000000,70000000.0,"30,000-40,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,18000000.0
10,2,https://nayoo.co/khonkaen/posts/1732,ที่ดิน,มั่นใจ,65000000,60000000.0,"ราคาเสนอขาย 12,000 - 15,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,35000000.0
13,2,https://nayoo.co/khonkaen/posts/1866,ที่ดิน,มั่นใจ,3000000,2500000.0,"ราคาเสนอขาย 2,000 - 4,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,2200000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,2,https://nayoo.co/khonkaen/posts/14539,ที่ดิน,มั่นใจ,5000000,4000000.0,"ราคาเสนอขาย 8,000 - 10,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,4000000.0
202,2,https://nayoo.co/khonkaen/posts/16072,ที่ดิน,มั่นใจ,750000,750000.0,"ราคาเสนอขาย 7,000-8,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,500000.0
204,2,https://nayoo.co/khonkaen/posts/17093,ที่ดิน,มั่นใจ,2650000,2500000.0,"ราคาเสนอขาย 3,000 - 5,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,2000000.0
206,2,https://nayoo.co/khonkaen/posts/17112,ที่ดิน,มั่นใจ,1300000,1500000.0,"ราคาเสนอขาย 3,000 - 5,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1500000.0
208,2,https://nayoo.co/khonkaen/posts/17145,ที่ดิน,มั่นใจ,3000000,2800000.0,"ราคาเสนอขาย 10,000 - 15,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,2500000.0

###Check Data

In [84]:
tableland.isnull().any()

ID ผู้ประเมิน                     False
post id                           False
property_type                     False
ความมั่นใจในการเมินราคาทรัพย์     False
ราคาทรัพย์                        False
ประเมิน2                          False
ปัจจัยในการประเมินราคาซื้อ-ขาย    False
เหตุผลไม่มั่นใจราคาประเมิน         True
ให้คะแนนทรัพย์                    False
Unnamed: 9                         True
Unnamed: 10                        True
Unnamed: 11                        True
Unnamed: 12                        True
ประเมิน1                          False
dtype: bool

In [85]:
tableland0 = tableland[['post id','ราคาทรัพย์','ประเมิน1','ประเมิน2']] # ไม่เอาประเมิน 4
tableland0

                                   post id  ราคาทรัพย์    ประเมิน1    ประเมิน2
1     https://nayoo.co/khonkaen/posts/1033     2800000   1800000.0   2000000.0
4     https://nayoo.co/khonkaen/posts/1711    14900000   8000000.0  12000000.0
7     https://nayoo.co/khonkaen/posts/1726    90000000  18000000.0  70000000.0
10    https://nayoo.co/khonkaen/posts/1732    65000000  35000000.0  60000000.0
13    https://nayoo.co/khonkaen/posts/1866     3000000   2200000.0   2500000.0
..                                     ...         ...         ...         ...
200  https://nayoo.co/khonkaen/posts/14539     5000000   4000000.0   4000000.0
202  https://nayoo.co/khonkaen/posts/16072      750000    500000.0    750000.0
204  https://nayoo.co/khonkaen/posts/17093     2650000   2000000.0   2500000.0
206  https://nayoo.co/khonkaen/posts/17112     1300000   1500000.0   1500000.0
208  https://nayoo.co/khonkaen/posts/17145     3000000   2500000.0   2800000.0

[100 rows x 4 columns]

In [86]:
tableland0.isnull().any()

post id       False
ราคาทรัพย์    False
ประเมิน1      False
ประเมิน2      False
dtype: bool

In [87]:
tableland0 = tableland0.dropna(subset=['ราคาทรัพย์']) #ข้อมูล Nan เยอะไป dropna ทำให้ข้อมูลหายหมด

In [88]:
tableland0.isnull().any() #Clean

post id       False
ราคาทรัพย์    False
ประเมิน1      False
ประเมิน2      False
dtype: bool

In [89]:
tableland0.count() #40 data

post id       100
ราคาทรัพย์    100
ประเมิน1      100
ประเมิน2      100
dtype: int64

###For loop

In [90]:
checkland1 = list() # ตั้งให้ check2 เป็น list ว่าง เพื่อให้ for loop มันรันค่าใส่ไว่้ใน list
checkland2 = list()
for row in tableland0.iterrows():
    checkland1.append(checkvalue(row[1]['ราคาทรัพย์'],row[1]['ประเมิน1']))
    checkland2.append(checkvalue(row[1]['ราคาทรัพย์'],row[1]['ประเมิน2']))
checkland1
checkland2
# แต่ละ row ใน table จะทำใช้ function 'checkvalue' เพื่อหาค่าแล้วเพิ่มใน check1

[1.4,
 1.2416666666666667,
 1.2857142857142858,
 1.0833333333333333,
 1.2,
 1.2,
 1.2692307692307692,
 1.1363636363636365,
 1.2,
 1.1166666666666667,
 1.3333333333333333,
 1.0909090909090908,
 2.8125,
 1.0,
 1.0606060606060606,
 1.9166666666666667,
 1.0416666666666667,
 1.0285714285714285,
 13.61111111111111,
 1.9285714285714286,
 1.1111111111111112,
 1.1,
 1.1764705882352942,
 1.25,
 14.545454545454545,
 1.0012515644555695,
 1.1111111111111112,
 1.35,
 1.0377777777777777,
 1.25,
 1.1666666666666667,
 1.2,
 1.1904761904761905,
 1.12,
 1.225,
 1.2666666666666666,
 1.2,
 1.2,
 1.1363636363636365,
 1.144,
 1.2,
 1.1627906976744187,
 1.0666666666666667,
 1.0588235294117647,
 1.2352941176470589,
 1.2375,
 1.16,
 1.01,
 1.1583333333333334,
 1.0833333333333333,
 1.1583333333333334,
 1.3,
 1.0476190476190477,
 1.0714285714285714,
 1.075,
 1.333,
 1.0769230769230769,
 1.25,
 1.40375,
 1.0968333333333333,
 1.1363636363636365,
 1.125,
 1.0625,
 1.18,
 1.25,
 1.0555555555555556,
 1.2666666666666666,
 5.294117647058823,
 1.2075,
 10.8481195462774,
 1.1,
 1.1363636363636365,
 1.2075,
 1.1176470588235294,
 1.0,
 1.4183333333333332,
 1.3333333333333333,
 1.1618,
 1.0666666666666667,
 1.0714285714285714,
 1.0769230769230769,
 1.4582,
 1.3636363636363635,
 1.0833333333333333,
 1.625,
 1.0665,
 1.0256410256410255,
 1.05,
 1.0344827586206897,
 10.434782608695652,
 1.11875,
 1.8,
 1.2,
 1.7333333333333334,
 1.0555555555555556,
 1.25,
 1.0,
 1.06,
 1.1538461538461537,
 1.0714285714285714]

In [91]:
tableland0['Check1'] = checkland1 #เพิ่มค่า check1 ไปในคอลัมน์ Check1
tableland0['Check2'] = checkland2
tableland0

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,Check1,Check2
1,https://nayoo.co/khonkaen/posts/1033,2800000,1800000.0,2000000.0,1.555556,1.400000
4,https://nayoo.co/khonkaen/posts/1711,14900000,8000000.0,12000000.0,1.862500,1.241667
7,https://nayoo.co/khonkaen/posts/1726,90000000,18000000.0,70000000.0,5.000000,1.285714
10,https://nayoo.co/khonkaen/posts/1732,65000000,35000000.0,60000000.0,1.857143,1.083333
13,https://nayoo.co/khonkaen/posts/1866,3000000,2200000.0,2500000.0,1.363636,1.200000
...,...,...,...,...,...,...
200,https://nayoo.co/khonkaen/posts/14539,5000000,4000000.0,4000000.0,1.250000,1.250000
202,https://nayoo.co/khonkaen/posts/16072,750000,500000.0,750000.0,1.500000,1.000000
204,https://nayoo.co/khonkaen/posts/17093,2650000,2000000.0,2500000.0,1.325000,1.060000
206,https://nayoo.co/khonkaen/posts/17112,1300000,1500000.0,1500000.0,1.153846,1.153846
208,https://nayoo.co/khonkaen/posts/17145,3000000,2500000.0,2800000.0,1.200000,1.071429

In [92]:
tableland0= tableland0.sort_values(by=['Check1'],ascending=False) # Clean
tableland0

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,Check1,Check2
194,https://nayoo.co/khonkaen/posts/13702,90000000,4500000.0,75000000.0,20.000000,1.200000
112,https://nayoo.co/khonkaen/posts/7955,2600000,32000000.0,2000000.0,12.307692,1.300000
58,https://nayoo.co/khonkaen/posts/9203,160000000,14000000.0,11000000.0,11.428571,14.545455
47,https://nayoo.co/khonkaen/posts/7349,245000000,24000000.0,18000000.0,10.208333,13.611111
7,https://nayoo.co/khonkaen/posts/1726,90000000,18000000.0,70000000.0,5.000000,1.285714
...,...,...,...,...,...,...
182,https://nayoo.co/khonkaen/posts/9598,3900000,4000000.0,4000000.0,1.025641,1.025641
78,https://nayoo.co/khonkaen/posts/3447,980000,1000000.0,800000.0,1.020408,1.225000
100,https://nayoo.co/khonkaen/posts/1663,1485000,1500000.0,1200000.0,1.010101,1.237500
122,https://nayoo.co/khonkaen/posts/12762,650000,650000.0,700000.0,1.000000,1.076923
130,https://nayoo.co/khonkaen/posts/1599,2500000,2500000.0,2200000.0,1.000000,1.136364

In [93]:
tableland0 = tableland0.sort_values(by=['Check2'],ascending=False) #148 not clean 0 เกินมา 1 ตัว
tableland0

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,Check1,Check2
58,https://nayoo.co/khonkaen/posts/9203,160000000,14000000.0,11000000.0,11.428571,14.545455
47,https://nayoo.co/khonkaen/posts/7349,245000000,24000000.0,18000000.0,10.208333,13.611111
148,https://nayoo.co/khonkaen/posts/3561,7374550,6000000.0,80000000.0,1.229092,10.848120
188,https://nayoo.co/khonkaen/posts/12250,2300000,2500000.0,24000000.0,1.086957,10.434783
144,https://nayoo.co/khonkaen/posts/3341,1700000,1600000.0,9000000.0,1.062500,5.294118
...,...,...,...,...,...,...
104,https://nayoo.co/khonkaen/posts/1921,8080000,2800000.0,8000000.0,2.885714,1.010000
60,https://nayoo.co/khonkaen/posts/12607,7990000,10000000.0,8000000.0,1.251564,1.001252
37,https://nayoo.co/khonkaen/posts/3305,14000000,12000000.0,14000000.0,1.166667,1.000000
158,https://nayoo.co/khonkaen/posts/6732,3500000,2800000.0,3500000.0,1.250000,1.000000
202,https://nayoo.co/khonkaen/posts/16072,750000,500000.0,750000.0,1.500000,1.000000

In [94]:
tableland0.iloc[0, 3]
missing = tableland0.iloc[0, 3]
missing1 = missing/10 
missing1

1100000.0

In [95]:
tableland0.iloc[0, 3] = missing1

In [96]:
tableland0 #clean

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,Check1,Check2
58,https://nayoo.co/khonkaen/posts/9203,160000000,14000000.0,1100000.0,11.428571,14.545455
47,https://nayoo.co/khonkaen/posts/7349,245000000,24000000.0,18000000.0,10.208333,13.611111
148,https://nayoo.co/khonkaen/posts/3561,7374550,6000000.0,80000000.0,1.229092,10.848120
188,https://nayoo.co/khonkaen/posts/12250,2300000,2500000.0,24000000.0,1.086957,10.434783
144,https://nayoo.co/khonkaen/posts/3341,1700000,1600000.0,9000000.0,1.062500,5.294118
...,...,...,...,...,...,...
104,https://nayoo.co/khonkaen/posts/1921,8080000,2800000.0,8000000.0,2.885714,1.010000
60,https://nayoo.co/khonkaen/posts/12607,7990000,10000000.0,8000000.0,1.251564,1.001252
37,https://nayoo.co/khonkaen/posts/3305,14000000,12000000.0,14000000.0,1.166667,1.000000
158,https://nayoo.co/khonkaen/posts/6732,3500000,2800000.0,3500000.0,1.250000,1.000000
202,https://nayoo.co/khonkaen/posts/16072,750000,500000.0,750000.0,1.500000,1.000000

###def function mape
- ค่าเกิน 9,10 ก็ลบ ศูนย์ ถ้าเกิน 2 คนประเมินว่าแบบนั้นเลย

In [97]:
#ใช้คอลัมน์ ประเมิน 1 ,ประเมิน 2 ในการคำนวณ
#คอลัมน์ Check1,2 ไว้เช็คว่าค่าพุ่งเกินไหม
tableland1= tableland0['ประเมิน1']
tableland2= tableland0['ประเมิน2']
tableland3= tableland0['ราคาทรัพย์']

In [98]:
#tableland1,2/tableland2,1 -> หาเฉลี่ย
#tableland3/tableland1,2 -> ราคาจริง / ราคาเทียบ 
mapetable = mape(tableland1, tableland2) 
mapetable # ค่า mape ของผู้ประเมิน1 กับผู้ประเมิน 2
print(f'ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ผู้ประเมิน 2 มีค่า MAPE อยู่ที่', mapetable)

ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ผู้ประเมิน 2 มีค่า MAPE อยู่ที่ 0.7478648256029734

In [99]:
mapetable2 = mape(tableland1, tableland3)
mapetable2 # ค่า mape ของผู้ประเมิน1 กับ ราคาทรัพย์
print(f'ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่', mapetable2)

ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่ 0.8348110682471775

In [100]:
mapetable3 = mape(tableland2, tableland3)
mapetable3
print(f'ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 2 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่', mapetable3)

ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 2 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่ 1.792884743252282

##ทาวน์โฮม

In [101]:
townh = pd.read_excel('/content/drive/MyDrive/DPDM65/คำตอบนักประเมิน.xlsx',sheet_name='ทาวน์โฮม',skiprows=0) #เลือก ชีท ที่ดิน
townh

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000.0,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,120.0
1,2,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000.0,1500000.0,ราคาซื้อขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000.0,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000.0,1500000.0,ราคาเสนอขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/579,ทาวน์โฮม,มั่นใจ,3520000.0,3500000.0,"8,000-80,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,2,https://nayoo.co/khonkaen/posts/18547,ทาวน์โฮม,มั่นใจ,1430000.0,1200000.0,ราคาเสนอขาย1.2-1.5ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
236,2,https://nayoo.co/khonkaen/posts/18551,ทาวน์โฮม,มั่นใจ,1980000.0,1700000.0,ราคาเสนอขาย 1.7-2.0ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
237,2,https://nayoo.co/khonkaen/posts/19434,ทาวน์โฮม,มั่นใจ,2000000.0,1900000.0,ราคาเสนอขาย 1.8-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
238,2,https://nayoo.co/khonkaen/posts/19501,ทาวน์โฮม,มั่นใจ,1790000.0,1700000.0,ราคาเสนอขาย 1.7-1.9 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
239,2,https://nayoo.co/khonkaen/posts/20367,ทาวน์โฮม,มั่นใจ,1590000.0,1700000.0,ราคาเสนอขาย 1.7-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN

In [102]:
townh.describe()

,ID ผู้ประเมิน,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
count,240.000000,2.400000e+02,2.400000e+02,0.0,0.0,0.0,0.0,1.0
mean,1.500000,1.926117e+06,1.827917e+06,NaN,NaN,NaN,NaN,120.0
std,0.501045,8.278491e+05,7.870919e+05,NaN,NaN,NaN,NaN,NaN
min,1.000000,5.300000e+05,3.500000e+05,NaN,NaN,NaN,NaN,120.0
25%,1.000000,1.345000e+06,1.300000e+06,NaN,NaN,NaN,NaN,120.0
50%,1.500000,1.750000e+06,1.650000e+06,NaN,NaN,NaN,NaN,120.0
75%,2.000000,2.437500e+06,2.350000e+06,NaN,NaN,NaN,NaN,120.0
max,2.000000,4.730000e+06,4.200000e+06,NaN,NaN,NaN,NaN,120.0

In [103]:
townh[townh['ความมั่นใจในการเมินราคาทรัพย์']=='มั่นใจ'].count() #มั่นใจทุกคน

ID ผู้ประเมิน                     240
post id                           240
property_type                     240
ความมั่นใจในการเมินราคาทรัพย์     240
ราคาทรัพย์                        240
ประเมินราคาซื้อ-ขาย               240
ปัจจัยในการประเมินราคาซื้อ-ขาย    240
เหตุผลไม่มั่นใจราคาประเมิน          0
ให้คะแนนทรัพย์                    240
Unnamed: 9                          0
Unnamed: 10                         0
Unnamed: 11                         0
Unnamed: 12                         1
dtype: int64

In [104]:
townh['ID ผู้ประเมิน'].value_counts()

1    120
2    120
Name: ID ผู้ประเมิน, dtype: int64

In [105]:
townh1 = townh[townh['ID ผู้ประเมิน']==1]
townh1

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000.0,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,120.0
2,1,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000.0,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/579,ทาวน์โฮม,มั่นใจ,3520000.0,3500000.0,"8,000-80,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN
6,1,https://nayoo.co/khonkaen/posts/580,ทาวน์โฮม,มั่นใจ,3850000.0,3500000.0,"8,000-80,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
8,1,https://nayoo.co/khonkaen/posts/582,ทาวน์โฮม,มั่นใจ,990000.0,1000000.0,"8,000-80,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,1,https://nayoo.co/khonkaen/posts/18547,ทาวน์โฮม,มั่นใจ,1430000.0,1000000.0,"3,000-35,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
126,1,https://nayoo.co/khonkaen/posts/18551,ทาวน์โฮม,มั่นใจ,1980000.0,1500000.0,"3,000-35,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
127,1,https://nayoo.co/khonkaen/posts/19434,ทาวน์โฮม,มั่นใจ,2000000.0,1600000.0,"3,000-35,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
128,1,https://nayoo.co/khonkaen/posts/19501,ทาวน์โฮม,มั่นใจ,1790000.0,1600000.0,"3,000-35,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
129,1,https://nayoo.co/khonkaen/posts/20367,ทาวน์โฮม,มั่นใจ,1590000.0,1700000.0,"3,000-35,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN

In [106]:
townh2 = townh[townh['ID ผู้ประเมิน']==2]
townh2

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
1,2,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000.0,1500000.0,ราคาซื้อขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000.0,1500000.0,ราคาเสนอขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN
5,2,https://nayoo.co/khonkaen/posts/579,ทาวน์โฮม,มั่นใจ,3520000.0,4000000.0,ราคาเสนอขาย 3-5 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
7,2,https://nayoo.co/khonkaen/posts/580,ทาวน์โฮม,มั่นใจ,3850000.0,3200000.0,ราคาเสนอขาย 3 - 5 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
9,2,https://nayoo.co/khonkaen/posts/582,ทาวน์โฮม,มั่นใจ,990000.0,800000.0,"ราคาเสนอขาย 700,000 - 1,000,000 บาท / คูหา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,2,https://nayoo.co/khonkaen/posts/18547,ทาวน์โฮม,มั่นใจ,1430000.0,1200000.0,ราคาเสนอขาย1.2-1.5ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
236,2,https://nayoo.co/khonkaen/posts/18551,ทาวน์โฮม,มั่นใจ,1980000.0,1700000.0,ราคาเสนอขาย 1.7-2.0ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
237,2,https://nayoo.co/khonkaen/posts/19434,ทาวน์โฮม,มั่นใจ,2000000.0,1900000.0,ราคาเสนอขาย 1.8-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
238,2,https://nayoo.co/khonkaen/posts/19501,ทาวน์โฮม,มั่นใจ,1790000.0,1700000.0,ราคาเสนอขาย 1.7-1.9 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
239,2,https://nayoo.co/khonkaen/posts/20367,ทาวน์โฮม,มั่นใจ,1590000.0,1700000.0,ราคาเสนอขาย 1.7-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN

###Map Data

In [107]:
townh2['ประเมิน1'] = townh2['post id'].map(townh1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
townh2

<ipython-input-107-891188a31380>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  townh2['ประเมิน1'] = townh2['post id'].map(townh1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,ประเมิน1
1,2,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000.0,1500000.0,ราคาซื้อขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN,700000.0
3,2,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000.0,1500000.0,ราคาเสนอขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN,700000.0
5,2,https://nayoo.co/khonkaen/posts/579,ทาวน์โฮม,มั่นใจ,3520000.0,4000000.0,ราคาเสนอขาย 3-5 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,3500000.0
7,2,https://nayoo.co/khonkaen/posts/580,ทาวน์โฮม,มั่นใจ,3850000.0,3200000.0,ราคาเสนอขาย 3 - 5 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,3500000.0
9,2,https://nayoo.co/khonkaen/posts/582,ทาวน์โฮม,มั่นใจ,990000.0,800000.0,"ราคาเสนอขาย 700,000 - 1,000,000 บาท / คูหา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,2,https://nayoo.co/khonkaen/posts/18547,ทาวน์โฮม,มั่นใจ,1430000.0,1200000.0,ราคาเสนอขาย1.2-1.5ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1000000.0
236,2,https://nayoo.co/khonkaen/posts/18551,ทาวน์โฮม,มั่นใจ,1980000.0,1700000.0,ราคาเสนอขาย 1.7-2.0ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1500000.0
237,2,https://nayoo.co/khonkaen/posts/19434,ทาวน์โฮม,มั่นใจ,2000000.0,1900000.0,ราคาเสนอขาย 1.8-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1600000.0
238,2,https://nayoo.co/khonkaen/posts/19501,ทาวน์โฮม,มั่นใจ,1790000.0,1700000.0,ราคาเสนอขาย 1.7-1.9 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1600000.0
239,2,https://nayoo.co/khonkaen/posts/20367,ทาวน์โฮม,มั่นใจ,1590000.0,1700000.0,ราคาเสนอขาย 1.7-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1700000.0

In [108]:
townh2 = townh2.rename(columns={"ประเมินราคาซื้อ-ขาย": "ประเมิน2"})
townh2

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมิน2,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,ประเมิน1
1,2,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000.0,1500000.0,ราคาซื้อขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN,700000.0
3,2,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000.0,1500000.0,ราคาเสนอขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN,700000.0
5,2,https://nayoo.co/khonkaen/posts/579,ทาวน์โฮม,มั่นใจ,3520000.0,4000000.0,ราคาเสนอขาย 3-5 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,3500000.0
7,2,https://nayoo.co/khonkaen/posts/580,ทาวน์โฮม,มั่นใจ,3850000.0,3200000.0,ราคาเสนอขาย 3 - 5 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,3500000.0
9,2,https://nayoo.co/khonkaen/posts/582,ทาวน์โฮม,มั่นใจ,990000.0,800000.0,"ราคาเสนอขาย 700,000 - 1,000,000 บาท / คูหา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,2,https://nayoo.co/khonkaen/posts/18547,ทาวน์โฮม,มั่นใจ,1430000.0,1200000.0,ราคาเสนอขาย1.2-1.5ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1000000.0
236,2,https://nayoo.co/khonkaen/posts/18551,ทาวน์โฮม,มั่นใจ,1980000.0,1700000.0,ราคาเสนอขาย 1.7-2.0ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1500000.0
237,2,https://nayoo.co/khonkaen/posts/19434,ทาวน์โฮม,มั่นใจ,2000000.0,1900000.0,ราคาเสนอขาย 1.8-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1600000.0
238,2,https://nayoo.co/khonkaen/posts/19501,ทาวน์โฮม,มั่นใจ,1790000.0,1700000.0,ราคาเสนอขาย 1.7-1.9 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1600000.0
239,2,https://nayoo.co/khonkaen/posts/20367,ทาวน์โฮม,มั่นใจ,1590000.0,1700000.0,ราคาเสนอขาย 1.7-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1700000.0

In [109]:
tabletown = townh2[['post id','ราคาทรัพย์','ประเมิน1','ประเมิน2']]
tabletown

                                   post id  ราคาทรัพย์   ประเมิน1   ประเมิน2
1      https://nayoo.co/khonkaen/posts/548   1045000.0   700000.0  1500000.0
3      https://nayoo.co/khonkaen/posts/549    935000.0   700000.0  1500000.0
5      https://nayoo.co/khonkaen/posts/579   3520000.0  3500000.0  4000000.0
7      https://nayoo.co/khonkaen/posts/580   3850000.0  3500000.0  3200000.0
9      https://nayoo.co/khonkaen/posts/582    990000.0  1000000.0   800000.0
..                                     ...         ...        ...        ...
235  https://nayoo.co/khonkaen/posts/18547   1430000.0  1000000.0  1200000.0
236  https://nayoo.co/khonkaen/posts/18551   1980000.0  1500000.0  1700000.0
237  https://nayoo.co/khonkaen/posts/19434   2000000.0  1600000.0  1900000.0
238  https://nayoo.co/khonkaen/posts/19501   1790000.0  1600000.0  1700000.0
239  https://nayoo.co/khonkaen/posts/20367   1590000.0  1700000.0  1700000.0

[120 rows x 4 columns]

###Check Data

In [110]:
tabletown.isnull().any()

post id       False
ราคาทรัพย์    False
ประเมิน1      False
ประเมิน2      False
dtype: bool

In [111]:
tabletown = tabletown.dropna(subset=['ราคาทรัพย์']) #row หายไป 59 row หลัง dropna
tabletown

                                   post id  ราคาทรัพย์   ประเมิน1   ประเมิน2
1      https://nayoo.co/khonkaen/posts/548   1045000.0   700000.0  1500000.0
3      https://nayoo.co/khonkaen/posts/549    935000.0   700000.0  1500000.0
5      https://nayoo.co/khonkaen/posts/579   3520000.0  3500000.0  4000000.0
7      https://nayoo.co/khonkaen/posts/580   3850000.0  3500000.0  3200000.0
9      https://nayoo.co/khonkaen/posts/582    990000.0  1000000.0   800000.0
..                                     ...         ...        ...        ...
235  https://nayoo.co/khonkaen/posts/18547   1430000.0  1000000.0  1200000.0
236  https://nayoo.co/khonkaen/posts/18551   1980000.0  1500000.0  1700000.0
237  https://nayoo.co/khonkaen/posts/19434   2000000.0  1600000.0  1900000.0
238  https://nayoo.co/khonkaen/posts/19501   1790000.0  1600000.0  1700000.0
239  https://nayoo.co/khonkaen/posts/20367   1590000.0  1700000.0  1700000.0

[120 rows x 4 columns]

###For loop

In [112]:
checktown1 = list() # ตั้งให้ check2 เป็น list ว่าง เพื่อให้ for loop มันรันค่าใส่ไว่้ใน list
checktown2 = list()
for row in tabletown.iterrows():
    checktown1.append(checkvalue(row[1]['ราคาทรัพย์'],row[1]['ประเมิน1']))
    checktown2.append(checkvalue(row[1]['ราคาทรัพย์'],row[1]['ประเมิน2']))
checktown1
checktown2
# แต่ละ row ใน table จะทำใช้ function 'checkvalue' เพื่อหาค่าแล้วเพิ่มใน check1

[1.4354066985645932,
 1.6042780748663101,
 1.1363636363636365,
 1.203125,
 1.2375,
 1.134375,
 1.1,
 1.144,
 1.1825,
 1.0620689655172413,
 1.1,
 1.144,
 1.43,
 1.0371428571428571,
 1.1,
 1.375,
 1.0266666666666666,
 1.05,
 1.0725,
 1.4450867052023122,
 1.1,
 1.0743801652892562,
 1.1916666666666667,
 1.03125,
 1.12,
 1.0294117647058822,
 1.0666666666666667,
 1.0119047619047619,
 1.1083333333333334,
 1.037037037037037,
 1.0043668122270741,
 1.0,
 1.0,
 1.04,
 1.036,
 1.0833333333333333,
 1.0112359550561798,
 1.0,
 1.004566210045662,
 1.0692307692307692,
 1.0784313725490196,
 1.0714285714285714,
 1.00625,
 1.0357142857142858,
 1.0,
 1.0357142857142858,
 1.0416666666666667,
 1.0826086956521739,
 1.0692307692307692,
 1.0391304347826087,
 1.0217391304347827,
 1.0294117647058822,
 1.0,
 1.1214953271028036,
 1.004566210045662,
 1.0,
 5.475,
 1.0,
 1.0,
 1.0333333333333334,
 1.6133333333333333,
 1.0,
 1.045,
 1.4666666666666666,
 1.065625,
 1.0692307692307692,
 1.0294117647058822,
 1.1333333333333333,
 1.0,
 1.103448275862069,
 1.08,
 1.125,
 1.0,
 1.0294117647058822,
 1.0473684210526315,
 1.0925925925925926,
 1.0266666666666666,
 1.0740740740740742,
 1.0434782608695652,
 1.0,
 1.0,
 1.02,
 1.0,
 1.1538461538461537,
 1.0192307692307692,
 1.0186666666666666,
 1.1428571428571428,
 1.032258064516129,
 1.05625,
 1.0,
 1.0588235294117647,
 1.0588235294117647,
 1.0,
 1.0,
 1.08,
 1.075,
 1.1111111111111112,
 1.0,
 1.1111111111111112,
 1.0166666666666666,
 1.0,
 1.0769230769230769,
 1.0666666666666667,
 1.0,
 1.0947619047619048,
 1.4705882352941178,
 1.04,
 1.0,
 1.1055276381909547,
 1.0153846153846153,
 1.0214285714285714,
 1.2539184952978057,
 1.0909090909090908,
 1.0,
 2.0,
 1.1916666666666667,
 1.1647058823529413,
 1.0526315789473684,
 1.0529411764705883,
 1.069182389937107]

In [113]:
tabletown['Check1'] = checktown1 #เพิ่มค่า check1 ไปในคอลัมน์ Check1
tabletown['Check2'] = checktown2
tabletown

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,Check1,Check2
1,https://nayoo.co/khonkaen/posts/548,1045000.0,700000.0,1500000.0,1.492857,1.435407
3,https://nayoo.co/khonkaen/posts/549,935000.0,700000.0,1500000.0,1.335714,1.604278
5,https://nayoo.co/khonkaen/posts/579,3520000.0,3500000.0,4000000.0,1.005714,1.136364
7,https://nayoo.co/khonkaen/posts/580,3850000.0,3500000.0,3200000.0,1.100000,1.203125
9,https://nayoo.co/khonkaen/posts/582,990000.0,1000000.0,800000.0,1.010101,1.237500
...,...,...,...,...,...,...
235,https://nayoo.co/khonkaen/posts/18547,1430000.0,1000000.0,1200000.0,1.430000,1.191667
236,https://nayoo.co/khonkaen/posts/18551,1980000.0,1500000.0,1700000.0,1.320000,1.164706
237,https://nayoo.co/khonkaen/posts/19434,2000000.0,1600000.0,1900000.0,1.250000,1.052632
238,https://nayoo.co/khonkaen/posts/19501,1790000.0,1600000.0,1700000.0,1.118750,1.052941
239,https://nayoo.co/khonkaen/posts/20367,1590000.0,1700000.0,1700000.0,1.069182,1.069182

In [114]:
tabletown= tabletown.sort_values(by=['Check1'],ascending=False) # Clean
tabletown

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,Check1,Check2
176,https://nayoo.co/khonkaen/posts/3528,2190000.0,350000.0,400000.0,6.257143,5.475000
180,https://nayoo.co/khonkaen/posts/6095,2420000.0,1500000.0,1500000.0,1.613333,1.613333
132,https://nayoo.co/khonkaen/posts/619,1430000.0,950000.0,1000000.0,1.505263,1.430000
1,https://nayoo.co/khonkaen/posts/548,1045000.0,700000.0,1500000.0,1.492857,1.435407
174,https://nayoo.co/khonkaen/posts/3478,2190000.0,1500000.0,2200000.0,1.460000,1.004566
...,...,...,...,...,...,...
228,https://nayoo.co/khonkaen/posts/17923,1990000.0,2000000.0,2200000.0,1.005025,1.105528
167,https://nayoo.co/khonkaen/posts/2829,2490000.0,2500000.0,2300000.0,1.004016,1.082609
220,https://nayoo.co/khonkaen/posts/17545,2800000.0,2800000.0,2800000.0,1.000000,1.000000
200,https://nayoo.co/khonkaen/posts/13411,3200000.0,3200000.0,3200000.0,1.000000,1.000000
203,https://nayoo.co/khonkaen/posts/17503,1500000.0,1500000.0,1300000.0,1.000000,1.153846

In [115]:
tabletown= tabletown.sort_values(by=['Check2'],ascending=False) # Clean
tabletown

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,Check1,Check2
176,https://nayoo.co/khonkaen/posts/3528,2190000.0,350000.0,400000.0,6.257143,5.475000
234,https://nayoo.co/khonkaen/posts/18090,3000000.0,2800000.0,1500000.0,1.071429,2.000000
180,https://nayoo.co/khonkaen/posts/6095,2420000.0,1500000.0,1500000.0,1.613333,1.613333
3,https://nayoo.co/khonkaen/posts/549,935000.0,700000.0,1500000.0,1.335714,1.604278
225,https://nayoo.co/khonkaen/posts/17742,2500000.0,2200000.0,1700000.0,1.136364,1.470588
...,...,...,...,...,...,...
227,https://nayoo.co/khonkaen/posts/17919,1700000.0,1600000.0,1700000.0,1.062500,1.000000
212,https://nayoo.co/khonkaen/posts/17516,1800000.0,1700000.0,1800000.0,1.058824,1.000000
223,https://nayoo.co/khonkaen/posts/17709,1600000.0,1400000.0,1600000.0,1.142857,1.000000
178,https://nayoo.co/khonkaen/posts/3661,1900000.0,2000000.0,1900000.0,1.052632,1.000000
177,https://nayoo.co/khonkaen/posts/3599,1700000.0,1800000.0,1700000.0,1.058824,1.000000

###def function mape

In [116]:
tabletown1 = tabletown['ประเมิน1']
tabletown2 = tabletown['ประเมิน2']
tabletown3 = tabletown['ราคาทรัพย์']

In [117]:
mapetown1 = mape(tabletown1, tabletown2)
mapetown1 
print(f'ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ผู้ประเมิน 2 มีค่า MAPE อยู่ที่', mapetown1)

ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ผู้ประเมิน 2 มีค่า MAPE อยู่ที่ 0.1121168528826893

In [118]:
mapetown2 = mape(tabletown1, tabletown3)
mapetown2 
print(f'ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่', mapetown2)

ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่ 0.16209125736159383

In [119]:
mapetown3 = mape(tabletown2, tabletown3)
mapetown3 
print(f'ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 2 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่', mapetown3)

ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 2 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่ 0.12753580848193072

##อาคารพาณิชย์

In [120]:
build= pd.read_excel('/content/drive/MyDrive/DPDM65/คำตอบนักประเมิน.xlsx',sheet_name='อาคารพาณิชย์',skiprows=0) #เลือก ชีท อาคารพาณิชย์
build

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,6000000.0,"8,000-30,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,10.0
1,2,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,8000000.0,"ราคาเสนอขาย 4,000,000-6,000,000 บาท/คูหา",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,12000000.0,12000000.0,"8,000-40,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,12000000.0,12000000.0,ราคาเสนอขาย 4 - 5 ล้านบาท/คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/21,อาคารพาณิชย์/สำนักงาน,มั่นใจ,22500000.0,13500000.0,"8,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
5,2,https://nayoo.co/khonkaen/posts/21,อาคารพาณิชย์/สำนักงาน,มั่นใจ,22500000.0,20000000.0,ราคาเสนอขาย 6-8 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN
6,1,https://nayoo.co/khonkaen/posts/22,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3500000.0,4000000.0,"8,000-60,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
7,2,https://nayoo.co/khonkaen/posts/22,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3500000.0,4000000.0,ราคาเสนอขาย 3-5 ล้านบาท/คูหา,NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
8,1,https://nayoo.co/khonkaen/posts/24,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3900000.0,2200000.0,"8,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
9,2,https://nayoo.co/khonkaen/posts/24,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3900000.0,3000000.0,ราคาซื้อขาย 3-4 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
10,1,https://nayoo.co/khonkaen/posts/30,อาคารพาณิชย์/สำนักงาน,มั่นใจ,4800000.0,3600000.0,"8,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
11,2,https://nayoo.co/khonkaen/posts/30,อาคารพาณิชย์/สำนักงาน,มั่นใจ,4800000.0,4000000.0,ราคาเสนอขาย 4 - 5 ล้านบาท/ คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
12,1,https://nayoo.co/khonkaen/posts/35,อาคารพาณิชย์/สำนักงาน,มั่นใจ,2400000.0,2500000.0,"8,000-80,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN
13,2,https://nayoo.co/khonkaen/posts/35,อาคารพาณิชย์/สำนักงาน,มั่นใจ,2400000.0,2100000.0,ราคาเสนอขาย 2-2.5 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
14,1,https://nayoo.co/khonkaen/posts/497,อาคารพาณิชย์/สำนักงาน,มั่นใจ,5000000.0,3800000.0,"8,000-40,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
15,2,https://nayoo.co/khonkaen/posts/497,อาคารพาณิชย์/สำนักงาน,มั่นใจ,5000000.0,5000000.0,ราคาเสนอขาย 5 - 7 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
16,1,https://nayoo.co/khonkaen/posts/498,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,7000000.0,"15,000-80,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
17,2,https://nayoo.co/khonkaen/posts/498,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,8000000.0,ราคาเสนอขาย 8-10 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN
18,1,https://nayoo.co/khonkaen/posts/499,อาคารพาณิชย์/สำนักงาน,มั่นใจ,9000000.0,8000000.0,"8,000-80,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN
19,2,https://nayoo.co/khonkaen/posts/499,อาคารพาณิชย์/สำนักงาน,มั่นใจ,9000000.0,10000000.0,ราคาเสนอขาย 5-6 ล้านบาท/คูหา,NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN

In [121]:
build.describe()

,ID ผู้ประเมิน,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,Unnamed: 9,Unnamed: 11,Unnamed: 12,Unnamed: 13
count,20.000000,2.000000e+01,2.000000e+01,0.0,20.000000,0.0,0.0,1.0
mean,1.500000,7.710000e+06,6.935000e+06,NaN,2.750000,NaN,NaN,10.0
std,0.512989,5.768052e+06,4.646818e+06,NaN,0.850696,NaN,NaN,NaN
min,1.000000,2.400000e+06,2.100000e+06,NaN,2.000000,NaN,NaN,10.0
25%,1.000000,3.900000e+06,3.750000e+06,NaN,2.000000,NaN,NaN,10.0
50%,1.500000,6.000000e+06,5.500000e+06,NaN,2.500000,NaN,NaN,10.0
75%,2.000000,9.000000e+06,8.500000e+06,NaN,3.250000,NaN,NaN,10.0
max,2.000000,2.250000e+07,2.000000e+07,NaN,4.000000,NaN,NaN,10.0

In [122]:
build[build['ความมั่นใจในการเมินราคาทรัพย์']=='มั่นใจ'].count() #มั่นใจทุกคน 20 คน

ID ผู้ประเมิน                     20
post id                           20
property_type                     20
ความมั่นใจในการเมินราคาทรัพย์     20
ราคาทรัพย์                        20
ประเมินราคาซื้อ-ขาย               20
ปัจจัยในการประเมินราคาซื้อ-ขาย    20
เหตุผลไม่มั่นใจราคาประเมิน         0
ให้คะแนนทรัพย์                    20
Unnamed: 9                        20
Unnamed: 10                       20
Unnamed: 11                        0
Unnamed: 12                        0
Unnamed: 13                        1
dtype: int64

In [123]:
build1 = build[build['ID ผู้ประเมิน']==1]
build1

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,6000000.0,"8,000-30,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,10.0
2,1,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,12000000.0,12000000.0,"8,000-40,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/21,อาคารพาณิชย์/สำนักงาน,มั่นใจ,22500000.0,13500000.0,"8,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
6,1,https://nayoo.co/khonkaen/posts/22,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3500000.0,4000000.0,"8,000-60,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
8,1,https://nayoo.co/khonkaen/posts/24,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3900000.0,2200000.0,"8,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
10,1,https://nayoo.co/khonkaen/posts/30,อาคารพาณิชย์/สำนักงาน,มั่นใจ,4800000.0,3600000.0,"8,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
12,1,https://nayoo.co/khonkaen/posts/35,อาคารพาณิชย์/สำนักงาน,มั่นใจ,2400000.0,2500000.0,"8,000-80,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN
14,1,https://nayoo.co/khonkaen/posts/497,อาคารพาณิชย์/สำนักงาน,มั่นใจ,5000000.0,3800000.0,"8,000-40,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
16,1,https://nayoo.co/khonkaen/posts/498,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,7000000.0,"15,000-80,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
18,1,https://nayoo.co/khonkaen/posts/499,อาคารพาณิชย์/สำนักงาน,มั่นใจ,9000000.0,8000000.0,"8,000-80,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN

In [124]:
build2 = build[build['ID ผู้ประเมิน']==2]
build2

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
1,2,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,8000000.0,"ราคาเสนอขาย 4,000,000-6,000,000 บาท/คูหา",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,12000000.0,12000000.0,ราคาเสนอขาย 4 - 5 ล้านบาท/คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
5,2,https://nayoo.co/khonkaen/posts/21,อาคารพาณิชย์/สำนักงาน,มั่นใจ,22500000.0,20000000.0,ราคาเสนอขาย 6-8 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN
7,2,https://nayoo.co/khonkaen/posts/22,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3500000.0,4000000.0,ราคาเสนอขาย 3-5 ล้านบาท/คูหา,NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
9,2,https://nayoo.co/khonkaen/posts/24,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3900000.0,3000000.0,ราคาซื้อขาย 3-4 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
11,2,https://nayoo.co/khonkaen/posts/30,อาคารพาณิชย์/สำนักงาน,มั่นใจ,4800000.0,4000000.0,ราคาเสนอขาย 4 - 5 ล้านบาท/ คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
13,2,https://nayoo.co/khonkaen/posts/35,อาคารพาณิชย์/สำนักงาน,มั่นใจ,2400000.0,2100000.0,ราคาเสนอขาย 2-2.5 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
15,2,https://nayoo.co/khonkaen/posts/497,อาคารพาณิชย์/สำนักงาน,มั่นใจ,5000000.0,5000000.0,ราคาเสนอขาย 5 - 7 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
17,2,https://nayoo.co/khonkaen/posts/498,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,8000000.0,ราคาเสนอขาย 8-10 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN
19,2,https://nayoo.co/khonkaen/posts/499,อาคารพาณิชย์/สำนักงาน,มั่นใจ,9000000.0,10000000.0,ราคาเสนอขาย 5-6 ล้านบาท/คูหา,NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN

###Map Data

In [125]:
build2['ประเมิน1'] = build2['post id'].map(build1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
build2

<ipython-input-125-7b4bae19d817>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  build2['ประเมิน1'] = build2['post id'].map(build1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,ประเมิน1
1,2,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,8000000.0,"ราคาเสนอขาย 4,000,000-6,000,000 บาท/คูหา",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,6000000.0
3,2,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,12000000.0,12000000.0,ราคาเสนอขาย 4 - 5 ล้านบาท/คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN,12000000.0
5,2,https://nayoo.co/khonkaen/posts/21,อาคารพาณิชย์/สำนักงาน,มั่นใจ,22500000.0,20000000.0,ราคาเสนอขาย 6-8 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN,13500000.0
7,2,https://nayoo.co/khonkaen/posts/22,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3500000.0,4000000.0,ราคาเสนอขาย 3-5 ล้านบาท/คูหา,NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,4000000.0
9,2,https://nayoo.co/khonkaen/posts/24,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3900000.0,3000000.0,ราคาซื้อขาย 3-4 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN,2200000.0
11,2,https://nayoo.co/khonkaen/posts/30,อาคารพาณิชย์/สำนักงาน,มั่นใจ,4800000.0,4000000.0,ราคาเสนอขาย 4 - 5 ล้านบาท/ คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN,3600000.0
13,2,https://nayoo.co/khonkaen/posts/35,อาคารพาณิชย์/สำนักงาน,มั่นใจ,2400000.0,2100000.0,ราคาเสนอขาย 2-2.5 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN,2500000.0
15,2,https://nayoo.co/khonkaen/posts/497,อาคารพาณิชย์/สำนักงาน,มั่นใจ,5000000.0,5000000.0,ราคาเสนอขาย 5 - 7 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN,3800000.0
17,2,https://nayoo.co/khonkaen/posts/498,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,8000000.0,ราคาเสนอขาย 8-10 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN,7000000.0
19,2,https://nayoo.co/khonkaen/posts/499,อาคารพาณิชย์/สำนักงาน,มั่นใจ,9000000.0,10000000.0,ราคาเสนอขาย 5-6 ล้านบาท/คูหา,NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,8000000.0

In [126]:
tablebuild = build2.rename(columns={"ประเมินราคาซื้อ-ขาย": "ประเมิน2"})
tablebuild

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมิน2,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,ประเมิน1
1,2,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,8000000.0,"ราคาเสนอขาย 4,000,000-6,000,000 บาท/คูหา",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,6000000.0
3,2,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,12000000.0,12000000.0,ราคาเสนอขาย 4 - 5 ล้านบาท/คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN,12000000.0
5,2,https://nayoo.co/khonkaen/posts/21,อาคารพาณิชย์/สำนักงาน,มั่นใจ,22500000.0,20000000.0,ราคาเสนอขาย 6-8 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN,13500000.0
7,2,https://nayoo.co/khonkaen/posts/22,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3500000.0,4000000.0,ราคาเสนอขาย 3-5 ล้านบาท/คูหา,NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,4000000.0
9,2,https://nayoo.co/khonkaen/posts/24,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3900000.0,3000000.0,ราคาซื้อขาย 3-4 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN,2200000.0
11,2,https://nayoo.co/khonkaen/posts/30,อาคารพาณิชย์/สำนักงาน,มั่นใจ,4800000.0,4000000.0,ราคาเสนอขาย 4 - 5 ล้านบาท/ คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN,3600000.0
13,2,https://nayoo.co/khonkaen/posts/35,อาคารพาณิชย์/สำนักงาน,มั่นใจ,2400000.0,2100000.0,ราคาเสนอขาย 2-2.5 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN,2500000.0
15,2,https://nayoo.co/khonkaen/posts/497,อาคารพาณิชย์/สำนักงาน,มั่นใจ,5000000.0,5000000.0,ราคาเสนอขาย 5 - 7 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN,3800000.0
17,2,https://nayoo.co/khonkaen/posts/498,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,8000000.0,ราคาเสนอขาย 8-10 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN,7000000.0
19,2,https://nayoo.co/khonkaen/posts/499,อาคารพาณิชย์/สำนักงาน,มั่นใจ,9000000.0,10000000.0,ราคาเสนอขาย 5-6 ล้านบาท/คูหา,NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,8000000.0

In [127]:
tablebuild0 = tablebuild[['post id','ราคาทรัพย์','ประเมิน1','ประเมิน2']]
tablebuild0

                                post id  ราคาทรัพย์    ประเมิน1    ประเมิน2
1     https://nayoo.co/khonkaen/posts/6   7000000.0   6000000.0   8000000.0
3    https://nayoo.co/khonkaen/posts/17  12000000.0  12000000.0  12000000.0
5    https://nayoo.co/khonkaen/posts/21  22500000.0  13500000.0  20000000.0
7    https://nayoo.co/khonkaen/posts/22   3500000.0   4000000.0   4000000.0
9    https://nayoo.co/khonkaen/posts/24   3900000.0   2200000.0   3000000.0
11   https://nayoo.co/khonkaen/posts/30   4800000.0   3600000.0   4000000.0
13   https://nayoo.co/khonkaen/posts/35   2400000.0   2500000.0   2100000.0
15  https://nayoo.co/khonkaen/posts/497   5000000.0   3800000.0   5000000.0
17  https://nayoo.co/khonkaen/posts/498   7000000.0   7000000.0   8000000.0
19  https://nayoo.co/khonkaen/posts/499   9000000.0   8000000.0  10000000.0

###Check Data

In [128]:
tablebuild0.isnull().any() #Clean

post id       False
ราคาทรัพย์    False
ประเมิน1      False
ประเมิน2      False
dtype: bool

###For loop

In [129]:
checkbuild1 = list() # ตั้งให้ check2 เป็น list ว่าง เพื่อให้ for loop มันรันค่าใส่ไว่้ใน list
checkbuild2 = list()
for row in tablebuild0.iterrows():
    checkbuild1.append(checkvalue(row[1]['ราคาทรัพย์'],row[1]['ประเมิน1']))
    checkbuild2.append(checkvalue(row[1]['ราคาทรัพย์'],row[1]['ประเมิน2']))
checkbuild1 
checkbuild2
# แต่ละ row ใน table จะทำใช้ function 'checkvalue' เพื่อหาค่าแล้วเพิ่มใน check1

[1.1428571428571428,
 1.0,
 1.125,
 1.1428571428571428,
 1.3,
 1.2,
 1.1428571428571428,
 1.0,
 1.1428571428571428,
 1.1111111111111112]

In [130]:
tablebuild0['Check1'] = checkbuild1 #เพิ่มค่า check1 ไปในคอลัมน์ Check1
tablebuild0['Check2'] = checkbuild2
tablebuild0

<ipython-input-130-78258b8e5f3a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tablebuild0['Check1'] = checkbuild1 #เพิ่มค่า check1 ไปในคอลัมน์ Check1
<ipython-input-130-78258b8e5f3a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tablebuild0['Check2'] = checkbuild2

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,Check1,Check2
1,https://nayoo.co/khonkaen/posts/6,7000000.0,6000000.0,8000000.0,1.166667,1.142857
3,https://nayoo.co/khonkaen/posts/17,12000000.0,12000000.0,12000000.0,1.000000,1.000000
5,https://nayoo.co/khonkaen/posts/21,22500000.0,13500000.0,20000000.0,1.666667,1.125000
7,https://nayoo.co/khonkaen/posts/22,3500000.0,4000000.0,4000000.0,1.142857,1.142857
9,https://nayoo.co/khonkaen/posts/24,3900000.0,2200000.0,3000000.0,1.772727,1.300000
11,https://nayoo.co/khonkaen/posts/30,4800000.0,3600000.0,4000000.0,1.333333,1.200000
13,https://nayoo.co/khonkaen/posts/35,2400000.0,2500000.0,2100000.0,1.041667,1.142857
15,https://nayoo.co/khonkaen/posts/497,5000000.0,3800000.0,5000000.0,1.315789,1.000000
17,https://nayoo.co/khonkaen/posts/498,7000000.0,7000000.0,8000000.0,1.000000,1.142857
19,https://nayoo.co/khonkaen/posts/499,9000000.0,8000000.0,10000000.0,1.125000,1.111111

In [131]:
tablebuild0= tablebuild0.sort_values(by=['Check1'],ascending=False) # Clean
tablebuild0

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,Check1,Check2
9,https://nayoo.co/khonkaen/posts/24,3900000.0,2200000.0,3000000.0,1.772727,1.300000
5,https://nayoo.co/khonkaen/posts/21,22500000.0,13500000.0,20000000.0,1.666667,1.125000
11,https://nayoo.co/khonkaen/posts/30,4800000.0,3600000.0,4000000.0,1.333333,1.200000
15,https://nayoo.co/khonkaen/posts/497,5000000.0,3800000.0,5000000.0,1.315789,1.000000
1,https://nayoo.co/khonkaen/posts/6,7000000.0,6000000.0,8000000.0,1.166667,1.142857
7,https://nayoo.co/khonkaen/posts/22,3500000.0,4000000.0,4000000.0,1.142857,1.142857
19,https://nayoo.co/khonkaen/posts/499,9000000.0,8000000.0,10000000.0,1.125000,1.111111
13,https://nayoo.co/khonkaen/posts/35,2400000.0,2500000.0,2100000.0,1.041667,1.142857
3,https://nayoo.co/khonkaen/posts/17,12000000.0,12000000.0,12000000.0,1.000000,1.000000
17,https://nayoo.co/khonkaen/posts/498,7000000.0,7000000.0,8000000.0,1.000000,1.142857

In [132]:
tablebuild0= tablebuild0.sort_values(by=['Check2'],ascending=False) # Clean
tablebuild0

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,Check1,Check2
9,https://nayoo.co/khonkaen/posts/24,3900000.0,2200000.0,3000000.0,1.772727,1.300000
11,https://nayoo.co/khonkaen/posts/30,4800000.0,3600000.0,4000000.0,1.333333,1.200000
1,https://nayoo.co/khonkaen/posts/6,7000000.0,6000000.0,8000000.0,1.166667,1.142857
7,https://nayoo.co/khonkaen/posts/22,3500000.0,4000000.0,4000000.0,1.142857,1.142857
13,https://nayoo.co/khonkaen/posts/35,2400000.0,2500000.0,2100000.0,1.041667,1.142857
17,https://nayoo.co/khonkaen/posts/498,7000000.0,7000000.0,8000000.0,1.000000,1.142857
5,https://nayoo.co/khonkaen/posts/21,22500000.0,13500000.0,20000000.0,1.666667,1.125000
19,https://nayoo.co/khonkaen/posts/499,9000000.0,8000000.0,10000000.0,1.125000,1.111111
15,https://nayoo.co/khonkaen/posts/497,5000000.0,3800000.0,5000000.0,1.315789,1.000000
3,https://nayoo.co/khonkaen/posts/17,12000000.0,12000000.0,12000000.0,1.000000,1.000000

###def function mape

In [133]:
tablebuild1 = tablebuild0['ประเมิน1']
tablebuild2 = tablebuild0['ประเมิน2']
tablebuild3 = tablebuild0['ราคาทรัพย์']

In [134]:
mapebuild1 = mape(tablebuild1, tablebuild2)
mapebuild1 
print(f'ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ผู้ประเมิน 2 มีค่า MAPE อยู่ที่', mapebuild1)

ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ผู้ประเมิน 2 มีค่า MAPE อยู่ที่ 0.2158208906103643

In [135]:
mapebuild2 = mape(tablebuild1, tablebuild3)
mapebuild2 
print(f'ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่', mapebuild2)

ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 1 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่ 0.254518341307815

In [136]:
mapebuild3 = mape(tablebuild2, tablebuild3)
mapebuild3
print(f'ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 2 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่', mapebuild3)

ความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของผู้ประเมินคนที่ 2 กับ ราคาทรัพย์ มีค่า MAPE อยู่ที่ 0.12428571428571429

#HW3 visualize แสดงความสัมพันธ์ ราคา(ตั้งขายและประเมิน)-ความมั่นใจ-ให้คะแนนทรัพย์
- Load ตารางจาก google sheet

##Table บ้าน

In [137]:
from sklearn.metrics import mean_absolute_percentage_error as MAPE
import pandas as pd
import numpy as np
import seaborn as sns
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [138]:
#!wget -q https://github.com/Phonbopit/sarabun-webfont/raw/master/fonts/thsarabunnew-webfont.ttf
import matplotlib as mpl
mpl.font_manager.fontManager.addfont('thsarabunnew-webfont.ttf')
mpl.rc('font', family='TH Sarabun New')

FileNotFoundError: ignored

In [ ]:
link = 'https://docs.google.com/spreadsheets/d/1Ut_qBllt92R3J2ur-B6DFeoMIOBeHriGnNM2DgLTXbA/export?format=xlsx'
Home = pd.read_excel(link, sheet_name='บ้าน')

In [ ]:
id1 = Home[Home['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = Home[Home['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])

In [ ]:
id2['ประเมิน1'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);
id2 = id2.rename(columns={"ประเมินราคาซื้อ-ขาย": "ประเมิน2"})
tableHome = id2[['post id','ความมั่นใจในการเมินราคาทรัพย์','ราคาทรัพย์','ประเมิน1','ประเมิน2','ให้คะแนนทรัพย์']]
tableHome # we got table

In [ ]:
def checkvalue(a, b):
  return max(a/b, b/a)

In [ ]:
check1 = list() # ตั้งให้ check2 เป็น list ว่าง เพื่อให้ for loop มันรันค่าใส่ไว่้ใน list
check2 = list()
for row in tableHome.iterrows():
    check1.append(checkvalue(row[1]['ราคาทรัพย์'],row[1]['ประเมิน1']))
    check2.append(checkvalue(row[1]['ราคาทรัพย์'],row[1]['ประเมิน2']))
check1
check2
# แต่ละ row ใน table จะทำใช้ function 'checkvalue' เพื่อหาค่าแล้วเพิ่มใน check1

In [ ]:
tableHome['Check1'] = check1 #เพิ่มค่า check1 ไปในคอลัมน์ Check1
tableHome['Check2'] = check2 #เพิ่มค่า check2 ไปในคอลัมน์ Check2
tableHome.sort_values(by=['Check2'],ascending=False)

In [ ]:
#index 544 ประเมิน2= 29 ล้าน -> 2.9 ล้าน [234]
#index 292 ประเมิน2= 80 ล้าน -> 8.0 ล้าน [131]
missing1 = tableHome.iloc[131,4]/10
missing2 = tableHome.iloc[234,4]/10
tableHome.iloc[131,4] = missing1
tableHome.iloc[234,4] = missing2
tableHome.sort_values(by=['Check2'],ascending=False)

In [ ]:
id1MAPE = MAPE(tableHome['ประเมิน1'],pd.to_numeric(tableHome['ราคาทรัพย์']))
id2MAPE = MAPE(tableHome['ประเมิน2'],pd.to_numeric(tableHome['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nบ้าน\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
one2two = MAPE(tableHome['ประเมิน1'],tableHome['ประเมิน2'])
two2one = MAPE(tableHome['ประเมิน2'],tableHome['ประเมิน1'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้ง {((one2two)+(two2one))*50:.2f}%')
print(f'จำนวนทรัพย์ทั้งหมด {len(tableHome)} ทรัพย์')

### Plot Graph

In [ ]:
!pip install squarify
import matplotlib.pyplot as plt
import squarify

In [ ]:
tableHome.columns

In [ ]:
homecorr = tableHome[['ราคาทรัพย์', 'ประเมิน1','ประเมิน2','ความมั่นใจในการเมินราคาทรัพย์','ให้คะแนนทรัพย์']]
homecorr.corr(method='pearson')

In [ ]:
import statsmodels.api as sm
import matplotlib.pyplot as plt
corr = homecorr.corr()
sm.graphics.plot_corr(corr, xnames=list(corr.columns), cmap='BuGn')
plt.show()

In [ ]:
sns.pairplot(homecorr, hue="ความมั่นใจในการเมินราคาทรัพย์")

In [ ]:
sns.pairplot(homecorr, hue="ให้คะแนนทรัพย์", diag_kind="hist")

##Table land

In [ ]:
link = 'https://docs.google.com/spreadsheets/d/1Ut_qBllt92R3J2ur-B6DFeoMIOBeHriGnNM2DgLTXbA/export?format=xlsx'
land = pd.read_excel(link, sheet_name='land')

In [ ]:
idl1 = land[land['ID ผู้ประเมิน']==1]
idl1 = idl1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
idl2 = land[land['ID ผู้ประเมิน']==2]
idl2 = idl2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])

In [ ]:
idl2['ประเมิน1'] = idl2['post id'].map(idl1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);
idl2 = idl2.rename(columns={"ประเมินราคาซื้อ-ขาย": "ประเมิน2"})
tableLand = idl2[['post id','ความมั่นใจในการเมินราคาทรัพย์','ราคาทรัพย์','ประเมิน1','ประเมิน2','ให้คะแนนทรัพย์']]
tableLand # we got table

In [ ]:
def checkvalue(a, b):
  return max(a/b, b/a)

In [ ]:
checkland1 = list() # ตั้งให้ check2 เป็น list ว่าง เพื่อให้ for loop มันรันค่าใส่ไว่้ใน list
checkland2 = list()
for row in tableLand.iterrows():
    checkland1.append(checkvalue(row[1]['ราคาทรัพย์'],row[1]['ประเมิน1']))
    checkland2.append(checkvalue(row[1]['ราคาทรัพย์'],row[1]['ประเมิน2']))
checkland1
checkland2
# แต่ละ row ใน table จะทำใช้ function 'checkvalue' เพื่อหาค่าแล้วเพิ่มใน check1

In [ ]:
tableLand['Check1'] = checkland1 #เพิ่มค่า check1 ไปในคอลัมน์ Check1
tableLand[  'Check2'] = checkland2 #เพิ่มค่า check2 ไปในคอลัมน์ Check2
tableLand.sort_values(by=['Check2'],ascending=False)

In [ ]:
#index 47 ราคาทรัพย์ 245 ล้าน ->  ประเมิน1 = 24 ล้าน ประเมิน2 = 18ล้าน -> ขาด 0 แก้เป็น *10 ทั้ง 2 column [19]
#index 58 ราคาทรัพย์ 120 ล้าน ->  ประเมิน1 = 14 ล้าน ประเมิน2 = 11ล้าน -> ขาด 0 แก้เป็น *10 ทั้ง 2 column [25]
#index 148 ราคาทรัพย์ 7.3ล้าน -> ประเมิน2 = 80 ล้าน -> เกิน 0 /10  [20]
#index 188 ราคาทรัพย์ 2.3ล้าน -> ประเมิน2 = 24 ล้าน -> เกิน 0/10  [89]
missingL1 = tableLand.iloc[18,3]*10
missingL2 = tableLand.iloc[18,4]*10
missingL3 = tableLand.iloc[24,3]*10
missingL4 = tableLand.iloc[24,4]*10
missingL5 = tableLand.iloc[69,4]/10
missingL6 = tableLand.iloc[89,4]/10
tableLand.iloc[18,3] = missingL1
tableLand.iloc[18,4] = missingL2
tableLand.iloc[24,3] = missingL3
tableLand.iloc[24,4] = missingL4
tableLand.iloc[69,4] = missingL5
tableLand.iloc[89,4] = missingL6
tableLand.sort_values(by=['Check2'],ascending=False)

In [ ]:
idl1MAPE = MAPE(tableLand['ประเมิน1'],pd.to_numeric(tableLand['ราคาทรัพย์']))
idl2MAPE = MAPE(tableLand['ประเมิน2'],pd.to_numeric(tableLand['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nที่ดิน\nนักประเมิน คนที่ 1 = {idl1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {idl2MAPE*100:.2f}%')
onel2two = MAPE(tableLand['ประเมิน1'],tableLand['ประเมิน2'])
twol2one = MAPE(tableLand['ประเมิน2'],tableLand['ประเมิน1'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้ง {((onel2two)+(twol2one))*50:.2f}%')
print(f'จำนวนทรัพย์ทั้งหมด {len(tableLand)} ทรัพย์')

###Plot Graph

In [ ]:
landcorr = tableLand[['ความมั่นใจในการเมินราคาทรัพย์', 'ราคาทรัพย์', 'ประเมิน1','ประเมิน2', 'ให้คะแนนทรัพย์']]

In [ ]:
landcorr.corr(method='pearson')

In [ ]:
landcorr1 = landcorr.corr()

In [ ]:
sm.graphics.plot_corr(landcorr1, xnames=list(corr.columns), cmap='summer')
plt.show()

In [ ]:
sns.pairplot(landcorr, hue="ความมั่นใจในการเมินราคาทรัพย์")

In [ ]:
sns.pairplot(landcorr, hue="ให้คะแนนทรัพย์", diag_kind="hist")

##Table Townhome

In [ ]:
link = 'https://docs.google.com/spreadsheets/d/1Ut_qBllt92R3J2ur-B6DFeoMIOBeHriGnNM2DgLTXbA/export?format=xlsx'
Townhome = pd.read_excel(link, sheet_name='townhome')

In [ ]:
idt1 = Townhome[Townhome['ID ผู้ประเมิน']==1]
idt1 = idt1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
idt2 = Townhome[Townhome['ID ผู้ประเมิน']==2]
idt2 = idt2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])

In [ ]:
idt2['ประเมิน1'] = idt2['post id'].map(idt1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);
idt2 = idt2.rename(columns={"ประเมินราคาซื้อ-ขาย": "ประเมิน2"})
tableTownhome = idt2[['post id','ความมั่นใจในการเมินราคาทรัพย์','ราคาทรัพย์','ประเมิน1','ประเมิน2','ให้คะแนนทรัพย์']]
tableTownhome # we got table

In [ ]:
checkth1 = list() # ตั้งให้ check2 เป็น list ว่าง เพื่อให้ for loop มันรันค่าใส่ไว่้ใน list
checkth2 = list()
for row in tableTownhome.iterrows():
    checkth1.append(checkvalue(row[1]['ราคาทรัพย์'],row[1]['ประเมิน1']))
    checkth2.append(checkvalue(row[1]['ราคาทรัพย์'],row[1]['ประเมิน2']))
checkth1
checkth2
# แต่ละ row ใน table จะทำใช้ function 'checkvalue' เพื่อหาค่าแล้วเพิ่มใน check1

In [ ]:
tableTownhome['Check1'] = checkth1 #เพิ่มค่า check1 ไปในคอลัมน์ Check1
tableTownhome['Check2'] = checkth2 #เพิ่มค่า check2 ไปในคอลัมน์ Check2
tableTownhome.sort_values(by=['Check2'],ascending=False) #Clean

In [ ]:
idt1MAPE = MAPE(tableTownhome['ประเมิน1'],pd.to_numeric(tableTownhome['ราคาทรัพย์']))
idt2MAPE = MAPE(tableTownhome['ประเมิน2'],pd.to_numeric(tableTownhome['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nTownhome\nนักประเมิน คนที่ 1 = {idt1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {idt2MAPE*100:.2f}%')
onet2two = MAPE(tableTownhome['ประเมิน1'],tableTownhome['ประเมิน2'])
twot2one = MAPE(tableTownhome['ประเมิน2'],tableTownhome['ประเมิน1'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้ง {((onet2two)+(twot2one))*50:.2f}%')
print(f'จำนวนทรัพย์ทั้งหมด {len(tableTownhome)} ทรัพย์')

### Plot Graph

In [ ]:
datath = tableTownhome[['ความมั่นใจในการเมินราคาทรัพย์', 'ราคาทรัพย์', 'ประเมิน1','ประเมิน2', 'ให้คะแนนทรัพย์']]
datath.corr(method='pearson')

In [ ]:
thcorr = datath.corr()
sm.graphics.plot_corr(thcorr, xnames=list(corr.columns), cmap='GnBu')
plt.show()

In [ ]:
sns.pairplot(datath, hue="ความมั่นใจในการเมินราคาทรัพย์")

In [ ]:
sns.pairplot(datath, hue="ให้คะแนนทรัพย์" ,diag_kind="hist")

##Table build

In [ ]:
link = 'https://docs.google.com/spreadsheets/d/1Ut_qBllt92R3J2ur-B6DFeoMIOBeHriGnNM2DgLTXbA/export?format=xlsx'
build = pd.read_excel(link, sheet_name='build')

In [ ]:
idb1 = build[build['ID ผู้ประเมิน']==1]
idb1 = idb1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
idb2 = build[build['ID ผู้ประเมิน']==2]
idb2 = idb2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])

In [ ]:
idb2['ประเมิน1'] = idb2['post id'].map(idb1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);
idb2 = idb2.rename(columns={"ประเมินราคาซื้อ-ขาย": "ประเมิน2"})
tablebuild = idb2[['post id','ความมั่นใจในการเมินราคาทรัพย์','ราคาทรัพย์','ประเมิน1','ประเมิน2','ให้คะแนนทรัพย์']]
tablebuild # we got table

In [ ]:
def checkvalue(a, b):
  return max(a/b, b/a)

In [ ]:
checkbuild1 = list() # ตั้งให้ check2 เป็น list ว่าง เพื่อให้ for loop มันรันค่าใส่ไว่้ใน list
checkbuild2 = list()
for row in tablebuild.iterrows():
    checkbuild1.append(checkvalue(row[1]['ราคาทรัพย์'],row[1]['ประเมิน1']))
    checkbuild2.append(checkvalue(row[1]['ราคาทรัพย์'],row[1]['ประเมิน2']))
checkbuild1
checkbuild2
# แต่ละ row ใน table จะทำใช้ function 'checkvalue' เพื่อหาค่าแล้วเพิ่มใน check1

In [ ]:
tablebuild['Check1'] = checkbuild1 #เพิ่มค่า check1 ไปในคอลัมน์ Check1
tablebuild['Check2'] = checkbuild2 #เพิ่มค่า check2 ไปในคอลัมน์ Check2
tablebuild.sort_values(by=['Check2'],ascending=False) #Clean

In [ ]:
idb1MAPE = MAPE(tablebuild['ประเมิน1'],pd.to_numeric(tablebuild['ราคาทรัพย์']))
idb2MAPE = MAPE(tablebuild['ประเมิน2'],pd.to_numeric(tablebuild['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nที่ดิน\nนักประเมิน คนที่ 1 = {idb1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {idb2MAPE*100:.2f}%')
oneb2two = MAPE(tablebuild['ประเมิน1'],tablebuild['ประเมิน2'])
twob2one = MAPE(tablebuild['ประเมิน2'],tablebuild['ประเมิน1'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้ง {((oneb2two)+(twob2one))*50:.2f}%')
print(f'จำนวนทรัพย์ทั้งหมด {len(tablebuild)} ทรัพย์')

###Plot Graph

In [ ]:
databuild = tablebuild[['ความมั่นใจในการเมินราคาทรัพย์', 'ราคาทรัพย์', 'ประเมิน1','ประเมิน2', 'ให้คะแนนทรัพย์']]
databuild.corr(method='pearson')

In [ ]:
buildcorr = databuild.corr()
sm.graphics.plot_corr(buildcorr, xnames=list(corr.columns), cmap='Wistia')
plt.show()

In [ ]:
sns.pairplot(databuild, hue="ความมั่นใจในการเมินราคาทรัพย์")

In [ ]:
sns.pairplot(databuild, hue="ให้คะแนนทรัพย์", diag_kind="hist")